:root {
    --view-height: calc(100vh - 95px);
}

.body-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section_one {
    background-image: url("/assets/Jumbotron.jpeg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    height: var(--view-height);
}

.section_two {
    background-image: url("/assets/StoreFront.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    min-height: var(--view-height);
}

.jumbotron-title {
    background: rgba(212, 212, 212, 0.466);
}

.body-title {
    background: rgba(68, 68, 68, 0.8);
}

.section_three {
    background: rgb(238, 228, 228);
}