.main-body {
    background: rgb(245, 255, 245);
}
.hidden {
    display: none;
}

.jumbotron {
    background-image: url("/assets/food/NewYorker.png");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}

.jumbotron-title {
    background: rgba(212, 212, 212, 0.466);
}

.background-grey {
    background: rgb(220, 241, 240);
}

.text-warning-2 {
    color: rgb(233, 172, 6);
}

.menu-item:hover {
    cursor: pointer;
}

.menu-item:hover * {
    cursor: pointer;
    font-style: italic;
    font-weight: 600 !important;
}

.modal-ingredients-container,
.modal-flavors-container {
    background: rgb(240, 247, 246);
    border-radius: 5px;
}

h3, h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}