.main-body {
    background: rgb(209, 221, 209);
}
.hidden {
    display: none;
}

.jumbotron {
    background-image: url("/assets/food/MenuJumbotron.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
}

.jumbotron-title {
    background: rgba(212, 212, 212, 0.466);
}

.menu > img:hover {
    cursor: pointer;
}

.modal-body {
    overflow: scroll;
}

#imageElement {
    width: 200% !important;
}

.modal-content {
    max-height: calc(100vh - 75px);
}

#imageElement {
    width: auto;
}